@using Microsoft.Identity.Web
@using BLTS.WebUi.ContentManagementSystem
@using BLTS.WebUi.Models
@inject ContentManagementSystemManager _contentManagementSystemManager


@code {
    private List<CmsNavigationMenuEntity> userAuthorizedNavigationMenuCollection = new List<CmsNavigationMenuEntity>();

    protected override async Task OnInitializedAsync()
    {
        userAuthorizedNavigationMenuCollection = await _contentManagementSystemManager.GetUserNavigationMenu();
    }
}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <div class="sidebar">

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-flat" data-widget="treeview" role="menu" data-accordion="false">
                @foreach (CmsNavigationMenuEntity singleNavMenu in userAuthorizedNavigationMenuCollection)
                {
                    @if (singleNavMenu.ChildNavigationMenuCollection.Count == 0)
                    {
                        <li class="nav-item" title="@singleNavMenu.ToolTip">
                            <NavLink class="nav-link" href="@singleNavMenu.SubPath" Match="@singleNavMenu.MenuNavLinkMatch">
                                <i class="@singleNavMenu.IconClass" aria-hidden="true"></i> <p>@singleNavMenu.DisplayText</p>
                            </NavLink>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item has-treeview" title="@singleNavMenu.ToolTip">
                            <NavLink class="nav-link" href="@singleNavMenu.SubPath" Match="@singleNavMenu.MenuNavLinkMatch">
                                <i class="@singleNavMenu.IconClass" aria-hidden="true"></i> <p>@singleNavMenu.DisplayText</p>
                                <i class="fas fa-angle-left right"></i>
                            </NavLink>
                            <ul class="nav nav-treeview">
                                @foreach (CmsNavigationMenuEntity childNavMenu in singleNavMenu.ChildNavigationMenuCollection)
                                {
                                    <li class="nav-item" title="@childNavMenu.ToolTip">
                                        <NavLink class="nav-link" href="@childNavMenu.SubPath" Match="@childNavMenu.MenuNavLinkMatch">
                                            <i class="@childNavMenu.IconClass" aria-hidden="true"></i> <p>@childNavMenu.DisplayText</p>
                                        </NavLink>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                }
                <LoginDisplay />
            </ul>
        </nav>
    </div>
</aside>
